.userList{
    width: 520px;
    padding: 20px;
    margin: 0 auto;
    border: 4px solid black;
    border-radius: 4px; 
};

.userListImage{
    display: flex;
    flex-direction: column; 
    background-color: grey;
};
.userImg{
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    width: 150px; 
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
};

.userDescription{};

.userDescription:not(:last-child) {
    margin-bottom: 10px;
};
.userContainer{
    display: flex;
};
.containerList{
    display: flex;
    flex-direction: column;
};
.containerTag{};
.containerValues{};