.avatarUser{
    border: 2px solid black;
    border-radius: 8px;
    width: 80px;
    padding: 20px;
}

.avatarImg{
margin-bottom: 12px;
}
.avatarDescription{
    margin-bottom: 12px;
    font-size: 24px;
}

.avatarIsOffline{
    color: red;
    font-size: 24px;
    font-size: bold;
}

.avatarIsOnline {
    color: green;
}

